body {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #c91c1c;
margin: 0;
padding: 0;
}

header, nav, main, footer {
padding: 20px;
margin: 10px;
background: #ffffff;
border: 1px solid #dddddd;
transition: background-color 2s, color 2s;
}

h1, h2 {
color:black;
}

img {
max-height: 100%;
}

main img, main video {
width: 25vw;
height: 25vh;
}

nav ul {
list-style-type: none;
margin-left: 0;
padding-left: 0;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

table, th, td {
border: 1px solid #cccccc;
}

th, td {
padding: 10px;
text-align: left;
}

a {
color: #0066cc;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

header {
    grid-area: h;
}

header p {
    font-size: 20px;
    color:#c91c1c;
    
}

nav {
    grid-area: n;
}

main {
    padding: 20px;
    grid-area: m;
}

footer {
    grid-area: f;
    color:#c91c1c;
}

.button {
    background-color: #c91c1c; border: none; color: white;
    padding: 0.5vw 1vh ; text-align: center; text-decoration: none;
    display: inline-block; font-size: 20px; margin: 0.5vh; cursor: pointer; }

button {
  background-color: #c91c1c; border: none; color: white;
    padding: 0.5vw 1vh ; text-align: center; text-decoration: none;
    display: inline-block; font-size: 20px; margin: 0.5vh; cursor: pointer; 
}

/* Dark Mode */
body.dark-mode header, body.dark-mode footer, body.dark-mode nav, body.dark-mode main {
  background-color: black;
  color: white;
}

body.dark-mode .title {
  color: white;
}

/* Dark Mode */

main p {color: #c91c1c; font-size: 20px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h m m"
        "n m m"
        "f f f";
}

#content2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "n h h"
        "n m m"
        "f f f";
}

#content3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h h n"
        "m m m"
        "f f f";
}