body {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #fafafa;
margin: 0;
padding: 0;
}

header, nav, main, footer {
padding: 20px;
margin: 10px;
background: #ffffff;
border: 1px solid #dddddd;
}

h1, h2 {
color: #333333;
}

img {
max-height: 100%;
}

main img {
width: 200px;
}

nav ul {
list-style-type: none;
margin-left: 0;
padding-left: 0;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

table, th, td {
border: 1px solid #cccccc;
}

th, td {
padding: 10px;
text-align: left;
}

a {
color: #0066cc;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h m m"
        "n m m"
        "f f f";
}

#content2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "n h h"
        "n m m"
        "f f f";
}

#content3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h h n"
        "m m m"
        "f f f";
}